body{ 
    background-color: #d1d1d1;
    
    overflow-y: hidden;
    overflow-x: hidden; 
   
}
iframe{
      
    height: 100vh;
    width: 100vw;
    border: none; 

}
    
 

/* Used this for help with the animation for drop down menu: 
   https://codepen.io/erikterwan/pen/EVzeRP*/

   #hamburger_menu{
    display: block;
    position: relative;
    top: 50px;
    left: 40px;
    z-index: 1;
    user-select: none;
}

#hamburger_menu a{
    text-decoration: none;
    color:rgb(37, 37, 37);
    transition: color 0.3s ease;
}

#hamburger_menu input{
    display: block;
    width:40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    
}

#hamburger_menu span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #353232;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    0.2s cubic-bezier(0.77,0.2,0.05,1.0), 
    opacity 0.45s ease;
}

#hamburger_menu span:first-child{
    transform-origin: 0% 0%;
}

#hamburger_menu span:nth-last-child(2){
    transform-origin: 0% 100%;
}

#hamburger_menu input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px,-1px);
    background: rgb(37, 37, 37); 
}

#hamburger_menu input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2,0.2);
}

#hamburger_menu input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0px,-1px);
}

#home{
    font-family: 'IBM Plex Mono', monospace;
    position: absolute;
    width: 175px;
    margin: -100px 0 0 -50px;
    padding: 35px;
    padding-top: 125px;
    background: #919df78a;
    list-style-type: none;
    transform: translate(-100%,0);
    transform-origin: 0% 0%;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#hamburger_menu a:hover{
    color:red
}

#home li{
    padding: 10px 0;
    font-size: 15px;
}

#hamburger_menu input:checked ~ ul{
    transform: none;
}

button{
    height:30px;
    width:150px;
    margin:0 35px;
    border-radius: 50px;
    border: none;
    outline: none;
    letter-spacing: 1px;
    text-transform: capitalize;
    cursor: pointer;
}

